.CourseContent{
    padding:10px 0;
    width:100%;
}

.CourseContent .title{
    padding:20px 0;
    font-size: 24px;
}

.course-info{
    display: flex;
    font-size: 15px;
}
.course-info>div{
    padding:0 2px 5px 2px;
}
.title-section{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.title-csection-name{
    font-weight: bold;
    /* overflow: hidden; */
    /* white-space: nowrap; */
    /* width:100px; */
    /* text-overflow: ellipsis; */
    flex-grow: 1;
}
.section-info{
    display: flex;    
}

.section-info > div{
    padding:0 3px;
}
.section-info-lecture-count{

}

.section-info-time{

}

.content-section{
    padding:0;
}

.content-section-item{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        padding:10px 0;
}
.content-section-item  span{
    color:gray;
}
.previewed{
    color:blueviolet !important;
    text-decoration: underline;
    cursor: pointer;
}
.content-section-item-info{
    display: flex;
}
.content-section-item-info > div{
    padding:0 5px
}
.more-section{
    border: 1px solid black;
    width:100%;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    background-color: white;
    margin-top:15px ;
}
.more-section:hover{
    background-color: #0000000a;
}


@media only screen and (max-width:500px) {
    .section-info{
        display: none;
    }
    .content-section-item-info{
        display: none;
    }
}