.header {
    width: 100%;
    position: relative;
    /* background-color: #f7f9fa; */
  }
  .bck-grnd-header {
    background-image: url("/public/image/header2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height:400px
  
  }
  .bck-grnd-header img {
    width: 100%;
  }
  .new-to-udemy {
    padding: 20px;
  }
  
  
  
  .new-to-udemy .title {
    font-size: 30px;
  }
  
  @media only screen and (min-width: 700px) {
    .new-to-udemy {
      position: absolute;
      top: 15%;
      left: 5%;
      background-color: white;
      box-shadow: 1px 5px 10px 0px rgb(219, 219, 219);
      width: 21em;
    }
  }
  @media only screen and (max-width: 700px) {
    .new-to-udemy {
        padding: 20px;
        background-color: white;
        /* box-shadow: 1px 5px 10px 0px rgb(219, 219, 219); */
        /* width: 100%; */
        /* border: 1px solid black; */
      }
      .hder-of-courses-section{
        width:100%;
      }
      .bck-grnd-header {
        background-image: url("/public/image/header3.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height:400px
      
      }
    }
    @media only screen and (min-width: 1700px) {
        .bck-grnd-header {
          height:600px;
        }
      }